h2{
    text-decoration: underline;
}

.search-form, .edit-form{
    max-width: 850px;
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #b854d633;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

button {
    margin-bottom: 15px;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #b854d688;
    color: #FFFA;

    &:hover{
        background-color: #b854d6CC;
        color: #FFFF;
    }
}

::ng-deep .mat-form-field-appearance-outline.with-focus .mat-form-field-outline {
    transition: box-shadow 0.3s ease;
  }
  
  ::ng-deep .mat-form-field-appearance-outline.with-focus.mat-focused .mat-form-field-outline {
    box-shadow: 0 0 0 3px rgba(153, 86, 141, 0.4); /* sombreado violeta suave */
    border-radius: 8px;
  }