h2{
    margin: 5px auto; 
    max-width: 900px; 
    text-decoration: underline;
}

.view-form {
    display: flex;
    flex-direction: column;
    gap: 16px; 
    max-width: 900px; 
    margin: 30px auto; 
}

mat-form-field {
    font-size: 16px;
    height: 40px;
}

mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

mat-form-field .mat-form-field-flex {
    height: 40px;
    align-items: center;
}

input[matInput] {
    background-color: #8c859155; 
    border: 1px solid #69378d55 !important;
    border-radius: 2px;
    padding: 3px 12px;
    font-size: 14px;
    color: #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.form-row {
    display: flex;
    gap: 16px;
    margin-bottom: 30px;
}

.form-row mat-form-field {
    flex: 1;
}

.mat-mdc-table{
    margin: 30px auto;
}

.mat-elevation-z8{
    background-color: #b854d611;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.mat-mdc-header-cell {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.mat-mdc-cell{
    font-size: 14px;
}

.mat-column-actions {
    width: 20%;
    text-align: center;
}

button{
    background-color: #dc9af099;
    border: 1px solid #99568d;
    border-radius: 5px;
    margin: 0 2px;
    color:#440a39;
    &:hover {
        background-color: #dd74d8;
        border-color: #99568d;
    }
}