html, body { min-height: 100vh; }
body { 
        margin: 0; 
        font-family: Roboto, "Helvetica Neue", sans-serif; 
        background-color: #c1d0dd;
    }


.mat-mdc-snackbar-surface{
    background: linear-gradient(50deg, #7cdada, #74406788) !important; /*#4caf91*/
    color: #000 !important;

    .mat-mdc-snack-bar-label{
        color: #000 !important;
        font-size: 16px !important;
        border-radius: 8px !important;
        text-align: center !important;
    }
}

.mat-mdc-button {
    color: #000 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.custom-dialog-container {
    border-radius: 12px;
    padding: 24px;
    background: linear-gradient(50deg, #7cdadadd, #744067dd);
    color: #000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);

    .mat-mdc-dialog-surface{
        background: linear-gradient(50deg, #7cdada11, #74406711);
        color: #000;
    }

    .mat-mdc-dialog-content{
        color: #000D !important;
        font-size: 14px !important;
    }

    button{
        background-color: #f09add99;
        border: 1px solid #99568d;
        border-radius: 5px;
        margin: 0 5px;
        width: 80px;;
    }
}
