.mat-elevation-z8{
    background-color: #54b1d611;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.mat-mdc-header-cell {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.mat-mdc-cell{
    font-size: 14px;
}

.mat-column-actions {
    width: 20%;
    text-align: center;
}

button{
    background-color: #9af0e999;
    border: 1px solid #569199;
    border-radius: 5px;
    margin: 0 2px;
    color:#440a39;
    &:hover {
        background-color: #dd74c6;
        border-color: #99568d;
    }
}

.view-icon {
    color: #305885;
    font-size: 20px;
    padding-top: 3px;
}

.edit-icon {
    color: #cfa940;
    font-size: 20px;
    padding-top: 3px;
}

.delete-icon {
    color: #ce4238;
    font-size: 20px;
    padding-top: 3px;
}